<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- LINKED SERVER MYSQL_TICKET-->
    <add key="USER" value="root" />
    <add key="SERVER" value="ALCOMPC02" />
    <add key="BD" value="INVENTARIO" />
    <add key="PASS" value="" />
    <add key="LINKEDSERVER" value="mysql_ticket" />
      
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
      <controls>
                  <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
		  
		         <!-- Views de administradores-->
	          <add tagPrefix="uc" src="~/Inventario/admin/admin-view.ascx" tagName="AdminView" />
            <add tagPrefix="uc" src="~/Inventario/admin/Marcas/brands-view.ascx" tagName="AdminBrandView" />
            <add tagPrefix="uc" src="~/Inventario/admin/ModeloVehiculos/models-view.ascx" tagName="AdminModelView" />
            <add tagPrefix="uc" src="~/Inventario/admin/TipoVehiculos/types-view.ascx" tagName="AdminTypeView" />
            <add tagPrefix="uc" src="~/Inventario/admin/Vehiculos/cars-view.ascx" tagName="AdminCarView" />

            <add tagPrefix="uc" src="~/Inventario/admin/searchUsers-view.ascx" tagName="SearchUsers" />
            <add tagPrefix="uc" src="~/Inventario/admin/Marcas/searchBrands-view.ascx" tagName="SearchBrandsAdmin" />
            <add tagPrefix="uc" src="~/Inventario/admin/ModeloVehiculos/searchModels-view.ascx" tagName="SearchModelsAdmin" />
            <add tagPrefix="uc" src="~/Inventario/admin/TipoVehiculos/searchTypes-view.ascx" tagName="SearchTypesAdmin" />
            <add tagPrefix="uc" src="~/Inventario/admin/Vehiculos/searchCars-view.ascx" tagName="SearchCarsAdmin" />

            <!-- Acciones admin -->
            <add tagPrefix="uc" src="~/Inventario/admin/Actions/AddUser.ascx" tagName="InsertUser" />
            <add tagPrefix="uc" src="~/Inventario/admin/Actions/DeleteUser.ascx" tagName="DeleteUser" />
        
            <add tagPrefix="uc" src="~/Inventario/admin/userEdit-view.ascx" tagName="UserEditAdmin" />
            <add tagPrefix="uc" src="~/Inventario/admin/Marcas/brandsEdit-view.ascx" tagName="BrandEditAdmin"/>
            <add tagPrefix="uc" src="~/Inventario/admin/ModeloVehiculos/modelsEdit-view.ascx" tagName="ModelEditAdmin" />
            <add tagPrefix="uc" src="~/Inventario/admin/TipoVehiculos/typeEdit-view.ascx" tagName="TypeEditAdmin" />
            <add tagPrefix="uc" src="~/Inventario/admin/Vehiculos/carEdit-view.ascx" tagName="CarEditAdmin" />
        
        
            <!-- Views de almacenista -->
            <add tagPrefix="uc" src="~/Inventario/almacenista/almacen-view.ascx" tagName="AlmacenView" />
            <!-- Views de mecanicos -->
            <add tagPrefix="uc" src="~/Inventario/mecanico/index-view.ascx" tagName="IndexView" />
             

            <!-- Views (mandan a llamar otros controles de usuarios)-->
		        <add tagPrefix="uc" src="~/includes/index.ascx" tagName="Index" />
		        <add tagPrefix="uc" src="~/includes/admin.ascx" tagName="Admin" />
		        <add tagPrefix="uc" src="~/includes/almacenista.ascx" tagName="Almacenista" />
		  
              
		  
    			<!-- Links secundarios -->
		        <add tagPrefix="uc" src="~/Inventario/inc/links.ascx" tagName="Links" />
			      <add tagPrefix="uc" src="~/Inventario/inc/navbar.ascx" tagName="NavBar" />
	        	<add tagPrefix="uc" src="~/Inventario/inc/navbar2.ascx" tagName="NavBar2" />
		   		  <add tagPrefix="uc" src="~/Inventario/inc/timezone.ascx" tagName="TimeZone" />
        		<add tagPrefix="uc" src="~/Inventario/inc/footer.ascx" tagName="Footer" />
        		<add tagPrefix="uc" src="~/Inventario/inc/linksJS.ascx" tagName="Script2" />
            <add tagPrefix="uc" src="~/Inventario/process/Login.ascx" tagName="Login" />
        
        
          
		  
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>